.music {
  display: grid;
  grid-template-rows: 100px 100px 100px;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-areas:
      "mi i s"
      "mi i s"
      "mi i s";
     
  }
  .music img {
    padding: 10px;
    width: 80px;
    height: 80px;
    border-radius: 20px;
  }
  .musicImg {
    grid-area: mi;
    margin-top: 10px;
    padding: 20px;
  }
  .singer{
    /* padding: 30px;\ */
    margin-top: 50px;
    grid-area: i;
      color: white;
  }
  .song {
    grid-area: s;
    margin-top: 50px;
  }
  .song a{
    color:gold;
    text-decoration: none;
  }