.nav{
    grid-area: n;
    background-color: rgba(51, 172, 112, 0.623);
    padding: 20px;
 }
.item a{  
  text-decoration: none;
    color:white;
    text-shadow: 2px 2px 4px #000000;
} 

.item a.active{
    color:gold;
}
