
 
.nav{
    grid-area: n;
    background-color: rgba(51, 172, 112, 0.623);
    padding: 20px;
 }
.item a {  
    color:white;
    text-shadow: 2px 2px 4px #000000;
   
   
} 

.item a.active{
    color:rgb(31, 27, 10);
    display: inline-block;
    width: 110%;
    text-decoration:none;
}

.item a:hover{
    color:rgb(31, 27, 10);
    background-color: rgb(184, 224, 189);
    display: inline-block;
    width: 110%;
    text-decoration:none;
    border-radius: 4.3px;
}

.item img{
    width: 40px;
    height: 40px;
    border-radius: 25px;
    padding: 5px;
}
.fname{
    color:white;
    word-spacing: 8px;
}

