
 
.nav{
    grid-area: n;
    background-color: rgba(51, 172, 112, 0.623);
    padding: 20px;
 }
.item a{  
    color:white;
    text-shadow: 2px 2px 4px #000000;
    text-decoration: none;
} 

.item a.active{
    color:gold;
}
.friends img{
  width: 30px;
  height: 30px;
  border-radius: 30px;
}
