.news img{
    width: 150px;
    height: 120px;
}
.newCountry{
    grid-area: "c";
    padding: 10px;
    color:white;
}
.phrases{
    grid-area: "p";
    padding: 10px;
    color:white; 
}
.news{
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 5fr 5fr;
    grid-template-areas:
    "c p";
}